
body {
    padding-top: 54px;
    font-family: 'Indie Flower', cursive;

  }
  .btn {
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
  }
  
  .btn-xl {
    font-size: 18px;
    padding: 20px 40px;
  }
  
  .btn-primary {
    background-color: #13a4dd;
    border-color:#13a4dd;
  }
  
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #f00f80;
    border-color:  #f00f80;
    color: white;
  }
  
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #c0ecea !important;
  }
  
  ::-moz-selection {
    background: #c0ecea;
    text-shadow: none;
  }
  
  ::selection {
    background: #c0ecea;
    text-shadow: none;
  }
  
  img::selection {
    background: transparent;
  }
  
  img::-moz-selection {
    background: transparent;
  }  

h1{
    font-family: 'Cookie', cursive; 
    font-size: 58px;

}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../images/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

img{
 width:100%;
 height:200px;

}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  